begin;

-- =============================
-- 1. nhan su + phan quyen
-- =============================

create table phongban (
    phongban_id int generated always as identity primary key,
    tenphongban varchar(100) not null
);

create table chucvu (
    chucvu_id int generated always as identity primary key,
    tenchucvu varchar(100) not null
);

create table nhanvien (
    nhanvien_id int generated always as identity primary key,
    hoten varchar(100) not null,
    dienthoai varchar(15),
    email varchar(150),
    phongban_id int references phongban(phongban_id),
    chucvu_id int references chucvu(chucvu_id),
    ngayvaolam date,
    trangthai smallint default 1,
    ngaynghi date,
    luongcoban numeric(18,2)
);

create table nhomquyen (
    nhomquyen_id int generated always as identity primary key,
    tennhomquyen varchar(50) not null
);

create table quyen (
    quyen_id int generated always as identity primary key,
    tenquyen varchar(150) not null,
    phanhe varchar(50),
    danghoatdong boolean default true
);

create table nhomquyen_quyen (
    nhomquyen_id int references nhomquyen(nhomquyen_id) on delete cascade,
    quyen_id int references quyen(quyen_id) on delete cascade,
    primary key (nhomquyen_id, quyen_id)
);

create table taikhoannhanvien (
    taikhoannhanvien_id int generated always as identity primary key,
    nhanvien_id int unique references nhanvien(nhanvien_id) on delete cascade,
    tendangnhap varchar(50) unique not null,
    matkhau_mahoa varchar(255) not null,
    nhomquyen_id int references nhomquyen(nhomquyen_id),
    danghoatdong boolean default true,
    thoidiemtao timestamp default current_timestamp
);

-- =============================
-- 2. khach + hanh khach
-- =============================

create table taikhoankhachhang (
    taikhoankhachhang_id int generated always as identity primary key,
    email varchar(150),
    dienthoai varchar(15),
    matkhau_mahoa varchar(255),
    trangthai smallint default 1,
    ngaytao timestamp default current_timestamp
);

create table hanhkhach (
    hanhkhach_id int generated always as identity primary key,
    hoten varchar(100) not null,
    ngaysinh date,
    sogiayto varchar(20),
    quoctich varchar(50)
);

create table hanhkhachcuataikhoan (
    taikhoankhachhang_id int references taikhoankhachhang(taikhoankhachhang_id) on delete cascade,
    hanhkhach_id int references hanhkhach(hanhkhach_id) on delete cascade,
    ghichu varchar(100),
    primary key (taikhoankhachhang_id, hanhkhach_id)
);

-- =============================
-- 3. may bay + ghe
-- =============================

create table maybay (
    maybay_id int generated always as identity primary key,
    tenmaybay varchar(50) not null,
    kieumaybay varchar(50),
    tongsoghe int not null
);

create table hangghemaybay (
    hangghe_id int generated always as identity primary key,
    maybay_id int references maybay(maybay_id) on delete cascade,
    tenhangghe varchar(50) not null,
    thutuhienthi int default 1
);

create table ghe (
    ghe_id int generated always as identity primary key,
    maybay_id int references maybay(maybay_id) on delete cascade,
    hangghe_id int references hangghemaybay(hangghe_id),
    tenghe varchar(10) not null,
    trangthai smallint default 0,
    unique (maybay_id, tenghe)
);

-- =============================
-- 4. san bay + tuyen + chuyen bay
-- =============================

create table sanbay (
    sanbay_id int generated always as identity primary key,
    tensanbay varchar(150) not null,
    thanhpho varchar(100),
    quocgia varchar(100)
);

create table tuyenbay (
    tuyenbay_id int generated always as identity primary key,
    sanbaydi_id int references sanbay(sanbay_id),
    sanbayden_id int references sanbay(sanbay_id)
);

create table hanghangkhong (
    hanghangkhong_id int generated always as identity primary key,
    tenhanghangkhong varchar(100) not null
);

create table chuyenbay (
    chuyenbay_id int generated always as identity primary key,
    tuyenbay_id int references tuyenbay(tuyenbay_id),
    hanghangkhong_id int references hanghangkhong(hanghangkhong_id),
    maybay_id int references maybay(maybay_id),
    giokhoihanh timestamp not null,
    gioden timestamp not null,
    trangthai smallint default 1
);

-- =============================
-- 5. gia
-- =============================

create table giahchuyenbay (
    giahchuyenbay_id int generated always as identity primary key,
    chuyenbay_id int references chuyenbay(chuyenbay_id) on delete cascade,
    hangghe_id int references hangghemaybay(hangghe_id),
    giacoban numeric(18,2) not null,
    thuephi numeric(18,2) default 0,
    capnhatluc timestamp default current_timestamp,
    unique (chuyenbay_id, hangghe_id)
);

create table giagheoverride (
    giagheoverride_id int generated always as identity primary key,
    chuyenbay_id int references chuyenbay(chuyenbay_id) on delete cascade,
    ghe_id int references ghe(ghe_id),
    giaoverride numeric(18,2) not null,
    thuephioverride numeric(18,2) default 0,
    lydo varchar(200),
    capnhatluc timestamp default current_timestamp,
    unique (chuyenbay_id, ghe_id)
);

-- =============================
-- 6. ve + hoadon + thanhtoan
-- =============================

create table ve (
    ve_id int generated always as identity primary key,
    chuyenbay_id int references chuyenbay(chuyenbay_id),
    ghe_id int references ghe(ghe_id),
    hanhkhach_id int references hanhkhach(hanhkhach_id),
    taikhoannhanvien_id int references taikhoannhanvien(taikhoannhanvien_id),
    giachot numeric(18,2) not null,
    thuechot numeric(18,2) default 0,
    trangthai smallint default 1,
    thoidiemtao timestamp default current_timestamp,
    unique (chuyenbay_id, ghe_id)
);

create table hoadon (
    hoadon_id int generated always as identity primary key,
    taikhoankhachhang_id int references taikhoankhachhang(taikhoankhachhang_id),
    taikhoannhanvien_id int references taikhoannhanvien(taikhoannhanvien_id),
    ngaytao timestamp default current_timestamp,
    tongtien numeric(18,2) default 0,
    trangthai smallint default 1
);

create table hoadonve (
    hoadon_id int references hoadon(hoadon_id) on delete cascade,
    ve_id int references ve(ve_id) on delete cascade,
    primary key (hoadon_id, ve_id)
);

create table thanhtoan (
    thanhtoan_id int generated always as identity primary key,
    hoadon_id int references hoadon(hoadon_id) on delete cascade,
    sotien numeric(18,2) not null,
    phuongthuc varchar(50) not null,
    thoigian timestamp default current_timestamp,
    trangthai smallint default 1
);

commit;
